{% include components/slice_top.html %}
<div class="location">
   <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.2646979983297!2d-3.1894706839134734!3d55.94478398463608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c783808f4dfd%3A0xb8b2415ee37c6dd4!2sInformatics%20Forum%2C%20The%20University%20of%20Edinburgh!5e0!3m2!1sen!2suk!4v1677850948223!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
    </div>
    <div class="directions">
        <h1>Where to find us</h1>
        <!--<p>This year, we'll be at the Hilton Carlton, located in the heart of Edinburgh.</p>
        
        <p>If you're travelling by train, <a href="https://goo.gl/maps/9u4mpBPU26o8vkeF6">Waverley Station</a> is only a few minutes walk away.</p>
        <p>If you're travelling from outside Edinburgh by bus, you'll likely arrive at St. Andrew's Station - just cross George IV Bridge and you'll be there.</p>-->
        <p>This year's hackathon will take place in the Informatics Forum of the University of Edinburgh. </p>
        <p>If you're travelling by train, <a href="https://goo.gl/maps/9u4mpBPU26o8vkeF6">Waverley Station</a> is only a few minutes walk away.</p>
    </div>
</div>
{% include components/slice_bottom.html %}
{% include components/slice_top.html %}
<div class="reimbursements">
    <h1>Travel Reimbursements</h1>
    <p>If you are arriving from outside of Edinburgh, we may be able to reimburse your travel. Please note that reimbursements are not guaranteed.</p>

    <table>
        <thead>
            <tr>
                <td>Region</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Scotland (excl Edinburgh)</td>
                <td>up to £20</td>
            </tr>
            <tr>
                <td>Northern England & Midlands</td>
                <td>up to £40</td>
            </tr>
            <tr>
                <td>Southern England and EU</td>
                <td>up to £50</td>
            </tr>
        </tbody>
    </table>
</div>
{% include components/slice_bottom.html %}
