<div id="jump-sponsors"></div>
<div class="sponsors">
    <h1 style="text-align: center;">Our Sponsors</h1>
    <hr>
    <div class="platinum">
        <h1>Platinum</h1>
        <div class="items">
            <a href="//mwam.com" target="_blank" rel="nofollow">
                <img src="/static/partners/marshall_wace.png" alt="Marshall Wace">
            </a>
        </div>
    </div>
    <hr>
    <div class="gold">
        <h1>Gold</h1>
        <div class="items">
            <a href="//optiver.com" target="_blank" rel="nofollow">
                <img src="/static/partners/optiver.png" alt="Optiver">
            </a>
        </div>
    </div>
    <hr/>
   <div class="silver">
        <h1>Silver</h1>
        <div class="items">
            <a href="https://www.aleios.com/" target="_blank" rel="nofollow">
                <img src="/static/partners/aleios.png" alt="Aleios">
            </a>
            <a href="https://www.sainsburysbank.co.uk/" target="_blank" rel="nofollow">
                <img src="/static/partners/sainsburys.png" alt="Sainsbury's Bank">
            </a>
        </div>
    </div>
    <hr>
    <div class="partner">
        <h1>Partners</h1>
        <div class="items">
            <a href="//comp-soc.com" target="_blank" rel="nofollow">
                <img src="/static/logos/compsoc-logo.png" alt="CompSoc">
            </a>
            <a href="https://hackathons.org.uk/" target="_blank" rel="nofollow">
                <img src="/static/partners/hackuk.svg" alt="Hackathons UK">
            </a>
            <a href="https://mlh.io" target="_blank" rel="nofollow">
                <img src="/static/partners/mlh.png" alt="" />
            </a>
        </div>
    </div>
</div>
